{% load static %}
<div id="output-wrapper">
    {% if image_output %}
        <img src="{{ image_output.path }}" alt="Output">
    {% else %}
        <p>Error, no image generated</p>
    {% endif %}

    <script>$(".progress").hide()</script>
</div>

<div id="progress-bar" class="progress w-full hidden" hx-swap-oob="true">
    <div class="w-full rounded-xl bg-slate-500">
        <div id="myBar" class="rounded-xl text-right ml-px w-[1%] h-8 bg-[--primary-color] leading-8 ">0%</div>
    </div>
</div>
