{% load static %}
<head>
    <title>Webcam</title>
    <link rel="stylesheet" href="{% static 'home/styles.css' %}">
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

{% block content %}
<div id="webcam-functionality">
    <div id="webcam-container">
        <video id="webcam" width="640" height="480" autoplay></video>
        <canvas id="canvas" width="640" height="480" style="display: none;"></canvas>
        <button id="capture-button">Capture Photo</button>
    </div>
    <div id="photos-container">
        <div data-photo-index="0" class="photo-container">
            <img class="photo" src="" alt="User">
            <button class="trash-button"><img src="{% static 'home/icons/trash.svg' %}" alt="Trash"></button>
        </div>
        <div data-photo-index="1" class="photo-container">
            <img class="photo" src="" alt="User">
            <button class="trash-button"><img src="{% static 'home/icons/trash.svg' %}" alt="Trash"></button>
        </div>
        <div data-photo-index="2" class="photo-container">
            <img class="photo" src="" alt="User">
            <button class="trash-button"><img src="{% static 'home/icons/trash.svg' %}" alt="Trash"></button>
        </div>
    </div>
    <form id="training-settings" >
        <label for="identifier">Unique identifier:</label>
        <input type="text" name="identifier" id="identifier" value="sks">
        <label for="training_steps">Number of steps</label>
        <input type="number" name="training_steps" id="training_steps" value="100" min="100" max="500">
        <label for="batch_size">Batch size</label>
        <input type="number" name="batch_size" id="batch_size" value="1" min="1" max="10">
        <button id="send-button"
                hx-post="{% url 'start_dreambooth_training' %}"
                hx-trigger="click delay:500ms"
                hx-target="#webcam-functionality"
                hx-swap="none">
            Send Photos
        </button>
    </form>
    <script src="{% static 'home/webcam.js' %}" defer></script>
</div>
{% endblock %}