{% load static %}
<head>
    <title>Webcam</title>
    <link rel="stylesheet" href="{% static 'home/styles.css' %}">
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

{% block content %}
<div id="webcam-functionality">
    <p class="text-lg text-slate-200 mb-3">Veuillez prendre 3 photos de vous en vous assurant de ne pas avoir quoi que ce soit qui puisse perturber l'image et empêcher le modèle de ne pas se focaliser sur vous. N'hésitez pas à tourner légèrement la tête pour que le modèle saisisse bien toutes les caractéristiques de votre visage.</p>
    <div id="webcam-container" class="flex flex-row gap-3 justify-center items-center mb-8">
        <video id="webcam" class="rounded-md" width="512" height="384" autoplay></video>
        <canvas id="canvas" width="512" height="384" style="display: none;"></canvas>
        <button id="capture-button"><img class="size-12" src="{% static 'home/icons/capture.svg' %}" alt="Capture"></button>
    </div>
    <div id="photos-container" class="flex justify-between items-center flex-nowrap">
        {% with ''|center:3 as range %}
            {% for _ in range %}
            <div data-photo-index="{{ forloop.counter0}}" class="photo-container flex flex-col min-w-8 border-solid items-center">
                <img class="photo" src="">
                <button class="trash-button mt-2"><img height="20px" width="20px" src="{% static 'home/icons/trash.svg' %}" alt="Trash"></button>
            </div>
            {% endfor %}
        {% endwith %}
    </div>
    <div class="flex justify-center mt-4">
        <button id="send-button"
                hx-post="{% url 'start_dreambooth_training' %}"
                hx-trigger="click delay:500ms"
                hx-target="#webcam-functionality"
                hx-swap="outerHTML">
            <img class="size-10" src="{% static 'home/icons/send.svg' %}" alt="Send Photos">
        </button>
    </div>
    
</div>
<script defer>initWebcam()</script>
{% endblock %}