:root {
    /* Default Colors */
    --primary-color: var(--blue-primary);
    --secondary-color: var(--blue-secondary);
    --tertiary-color: var(--blue-tertiary);
    --background: var(--linear-background);  
    /* Blue Family */
    --midnight: #0d2155;
    --royal: #0c32a4;
    --dell-blue: #0672cb;
    --sky: #80c7fb;
    --glacier: #e5f8ff;
  
    /* Green Family */
    --deep-green: #244739;
    --hunter: #247554;
    --basil: #37cc5c;
    --lime: #9fff99;
    --tea-green: #e4ffd6;
 
    /* Purple Family */
    --raisin: #2a145a;
    --plum: #612cb0;
    --amethyst: #8e5cef;
    --lavender: #beafff;
    --periwinkle: #dedfff;
  
    /* Red Family */
    --burgundy: #691d3f;
    --scarlet: #b30b37;
    --coral: #e1633f;
    --apricot: #f4b85e;
    --sand: #fbeecc;
 
    /* Neutrals */
    --black: #000000;
    --carbon: #444444;
    --gray: #808080;
    --granite: #c8c9c7;
    --quartz: #eeeeee;
    --white: #ffffff;
 
    /* Theme colors */
    --blue-primary: var(--royal);
    --blue-secondary: var(--sky);
    --blue-tertiary: var(--glacier);
  
    --green-primary: var(--hunter);
    --green-secondary: var(--basil);
    --green-tertiary: var(--tea-green);
  
    --purple-primary: var(--raisin);
    --purple-secondary: var(--amethyst);
    --purple-tertiary: var(--periwinkle);
  
    --red-primary: var(--burgundy);
    --red-secondary: var(--scarlet);
    --red-tertiary: var(--sand);
  }



.photo {
    border: 1px solid black;
    border-radius: 10px;
    width: 200px;
    height: 150px;
    margin: 0 10px; 
}

#webcam {
    border: 1px solid black;
    border-radius: 10px;
}
#photos {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
}

#capture-button {
    margin-top: 10px; 
}