body {
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.logo {
    width: auto;
    height: 30px;
    padding-left: 20px;
}
.icon {
    width: 32px;
    height: 32px;
}
.nav-buttons {
    display: flex;
    gap: 50px;
    a:hover {
        color: #ffffff7b;
    }
    a, .dropdown button {
        background: none;
        color: #fff;
        cursor: pointer;
        border: none;
        text-decoration: none;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    padding: 2.5px;
}
.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 15px;
    &:hover {
        transform: scale(1.25);
    }
}
.c1 {
    background-color: #80C7FB;
}
.c2 {
    background-color: #9FFF99;
}
.c3 {
    background-color: #BEAFFF;
}
.c4 {
    background-color: #F4BB5E;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.content {
    text-align: center;
    h1 {
        text-align: left;
    }
    p {
        font-size: 16px;
        max-width: 600px;
        margin: 0px;
        text-align: left;
    }
}

h1 {
    font-size: 48px;
    font-weight: 300;
}
.title-container {
    display: flex;
    align-items: center;
}
.subtitle {
    font-size: 16px;
    color: #ffffff7b;
    margin-left: 10px;
    position: relative;
    top: 10px;
    font-weight: 400;
    font-style: italic;
}

.prompt-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 700px;
    border-radius: 25px;
    overflow: hidden;
    background: #fff;
    position: relative;
}

.prompt-input {
    flex: 1;
    padding: 15px 15px 15px 90px;
    margin-right: 5px;
    margin-left: 5px;
    border: none;
    width: calc(100% - 90px - 60px); /* Adjust input width to consider icon and button space */
    position: relative;
    z-index: 1;
}

.prompt-input:focus {
    outline: none; /* Remove the default focus outline */
}

.buttons-container {
    position: absolute;
    left: 15px;
    display: flex;
    gap: 10px;
    z-index: 2;
    align-items: center;
}

.buttons img {
    width: 20px;
    height: auto;
}

.prompt-button {
    width: 60px;
    background: #fff;
    border: none;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prompt-button img {
    width: 25px;
    height: auto;
}

.prompt-area {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

/*********************advsettings index*************************/

#advanced-settings {
    display: none;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    max-width: 250px;
    margin: 20px auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#advanced-settings input[type="text"],
#advanced-settings input[type="number"] {
    display: block;
    width: calc(90% - 20px); 
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
}

#advanced-settings input[type="text"]:focus,
#advanced-settings input[type="number"]:focus {
    outline: none;
    border-color: #80C7FB; 
}

#advanced-settings {
    position: relative;
    z-index: 3;
}

@media (max-width: 768px) {
    #advanced-settings {
        width: 90%;
    }
}

.prompt-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.image-output {
    position: relative;
    width: 270px;
    height: 320px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.image-output img {
    width: 256px;
    height: 256px;
    border-radius: 10px;
}

.trash-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
.trash-button img {
    width: 20px;
    height: auto;
}

.footer {
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    overflow-y: auto;
    max-height: calc(100vh - 200px);
}

.historique-item-container {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    margin-left: 15px;
    text-align: center;
    width: calc(18% - 20px);
    display: inline-block;
    vertical-align: top;
}

.c10 {
    background-color: #80C7FB;
}
.c20 {
    background-color: #9FFF99;
}
.c30 {
    background-color: #BEAFFF;
}
.c40 {
    background-color: #F4BB5E;
}

@media (max-width: 768px) {
    .historique-item-container {
        width: calc(40% - 20px);
    }
}

.historique-item {
    width: 100%;
}
.historique-item p {
    margin-top: 5px;
    font-size: 14px;
    color: #000;
    font-weight: 400;
}
.historique-item img {
    width: 100%;
    border-radius: 10px;
}

/***************************JS style****************************/
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}

.modal-content {
    position: relative;
    background-color: #80C7FB;
    border-radius: 10px;
    padding: 20px;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
}
.modal-content img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.modal-content p {
    margin-top: 15px;
    font-size: 16px;
    color: #000;
    text-align: center;
}

.historique-item-container {
    position: relative;
    z-index: 1;
}
.exit-button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: red;
    cursor: pointer;
}
/*************************about style****************************/

.about-container {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    padding-right: 200px;
    padding-left: 200px;
    background-color: rgba(229,248,255,1);
    border-radius: 10px;
    color: #0D2155;
}

.about-content {
    max-width: 700px;
}
.about-content img {
    max-width: 100%;
    height: auto;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 50px;
}
.about-content p {
    margin-bottom: 50px;
    text-align: left;
}