{% extends 'home/base.html' %}
{% load static %}

{% block title %}Facegen - Dreambooth{% endblock %}

{% block content %}
<main class="flex flex-col items-center min-w-[80%] max-w-[80%] p-5 text-lg">
    <h1 class="text-5xl text-center font-thin">Dreambooth</h1>

    <p class="mt-10 text-start"> DreamBooth is a method created by Google Research to make text-to-image models, like Stable Diffusion, better at generating pictures of specific things. Imagine you have a model that can create images from text descriptions, and you want it to generate pictures of your pet in different scenes.</p>

        <div>
            <button class="bg-[--primary-color] text-white py-2 px-4 my-8 rounded hover:bg-[--secondary-color] transition-colors ease-in-out"
                    hx-post="{% url 'webcam' %}"
                    hx-target="closest div">Start !</button>
        </div>

    <form id="image-inputs"></form>
    <div id="webcam-functionality"></div>

    <div id="output-wrapper" class="flex flex-col bg-white/60 rounded-lg p-2 m-2 text-center w-72 justify-center items-center">
        <img src="{% static 'home/images/output.png' %}" alt="Output" class="w-64 h-64 rounded-lg">
    </div>

    <div class="text-gray-900">
        <p class="mt-4 text-3xl">Here's how it works:</p>
        <ul class="list-disc pl-5 mt-4">
            <li>Collect Images: First, you gather a few pictures of the subject you want to focus on, like your pet dog.</li>
            <li>Training: You then train the model using these pictures along with text descriptions that describe the subject. This step helps the model learn the unique features of your pet.</li>
            <li>Embedding: The model creates a special token or code that represents your pet. This token is added to the model’s vocabulary.</li>
            <li>Generate New Images: Now, when you use the special token in a text prompt, the model can generate new images of your pet in different settings or doing various activities, while keeping its unique characteristics.</li>
        </ul>
        <p>For example, if you trained the model with pictures of your dog named "Buddy," you can then type a description like "Buddy at the beach," and the model will create a picture of your dog at the beach.</p>  
        <p>DreamBooth allows you to personalize image generation, making it possible to create custom images that are unique to your subject. It’s a powerful tool for artists, content creators, and anyone interested in generating personalized images.</p>
    </div>
</main>
{% endblock %}