{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FaceGen</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap">
    <link rel="stylesheet" href="{% static 'home/styles.css' %}">
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{% static 'home/script.js' %}"></script>
    
    <style>
        body {
            background: linear-gradient(360deg, rgba(229,248,255,1) 60%, rgba(6,114,203,1) 100%); 
            color: #fff;
        }
        input[type="file"], button {
            display: none;
        }
        input[type="submit"] {

        }


    </style>
</head>
<body>
    <header>
        <img src="{% static 'home/images/logo.png' %}" alt="Logo" class="logo">
        <div class="nav-buttons">
            <a href="index.html">Home</a>
            <a href="about.html">About</a>
            <div class="dropdown">
                <button>▼</button>
                <div class="dropdown-content">
                    <a href="#"><div class="circle c1"></div></a>
                    <a href="#"><div class="circle c2"></div></a>
                    <a href="#"><div class="circle c3"></div></a>
                    <a href="#"><div class="circle c4"></div></a>
                </div>
            </div>
        </div>
    </header>
    <div class="content">
        <div class="title-container">
            <h1>FaceGen</h1>
            <span class="subtitle">Powered by the students of Paul Valéry</span>
        </div>
        <p>Your gateway to AI-generated faces and personas. Describe, and watch as lifelike images come to life effortlessly.</p>
        <form id="image-inputs" hx-get="/home/generate" hx-target="#test">
            <div class="prompt-area">
                <div class="buttons-container">
                    <div class="buttons">
                        <label for="settings-button"><img class="icon" src="{% static 'home/icons/settings.svg' %}" alt="Advanced settings"></label>
                        <button id="settings-button" onclick="$('#advanced-settings').toggle()"></button>
                        <label for="upload_file"><img class="icon" src="{% static 'home/icons/upload.svg' %}" alt="Upload a photo"></label>
                        <input type="file" id="upload_file" name="upload_file" accept="image/png, image/jpeg"></input>
                        <label for="camera"><img class="icon" src="{% static 'home/icons/camera.svg' %}" alt="Take a photo"></label>
                        <button id="camera"></button>
                    </div>
                </div>
                <input type="text" name="prompt" id="prompt" class="prompt-input" placeholder="Enter your prompt here..." required>
                <input type="submit" id="send-button"><img class="icon" src="{% static 'home/icons/send.svg' %}" alt="Send"></input>
            </div>
            <div id="advanced-settings" class="advanced-settings" style="display: None">
                <input type="text" name="negative_prompt" id="negative_prompt">
                <input type="number" name="width" id="width" value="512" min="128" max="1024">
                <input type="number" name="height" id="height" value="512" min="128" max="1024">
                <input type="number" name="guidance_scale" id="guidance_scale" value="7" min="5" max="10">
                <input type="number" name="num_inference_steps" id="num_inference_steps" value="100" min="1" max="500">
            </div>
        </form>
            
        <div id="test" class="image-output">
            <img src="{% static 'home/images/output.png' %}" alt="Output">
            <button class="trash-button">
                <img src="{% static 'home/icons/trash.svg' %}" alt="Trash">
            </button>
        </div>        
    </div>
    <footer>
    {% if history %}
        <ul>
        {% for image in history %}
            <div class="historique-item-container c10">
                <div class="historique-item">
                    <img src= "{{ image.path }}" alt="AI-generated face">
                    <p> {{ image.params.prompt }} </p>
                </div>
            </div>
        {% endfor %}
        </ul>
    {% endif %}
    </footer>
</body>
</html>